xmlDemos/Q1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="collection" type="collectionType"/>
  <xs:complexType name="ingredientType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="amount"/>
        <xs:attribute type="xs:string" name="unit"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="collectionType">
    <xs:sequence>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="recipeType" name="recipe"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recipeType">
    <xs:sequence>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="ingredientType" name="ingredient"/>
      <xs:element type="preparationType" name="preparation"/>
      <xs:element type="xs:string" name="comment"/>
      <xs:element type="nutritionType" name="nutrition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nutritionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="calories"/>
        <xs:attribute type="xs:string" name="fat"/>
        <xs:attribute type="xs:string" name="carboh"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="preparationType">
    <xs:sequence>
      <xs:element type="xs:string" name="step"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>