xmlDemos/Q3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="order" type="orderType"/>
  <xs:complexType name="orderType">
    <xs:sequence>
      <xs:element type="userType" name="user"/>
      <xs:element type="productsType" name="products"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productsType">
    <xs:sequence>
      <xs:element type="productType" name="product" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element type="xs:string" name="fullname"/>
      <xs:element type="xs:string" name="deliveryAddress"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="quantity" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>